[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,inode/directory,all/all,all/allfiles
X-KDE-Submenu=Subversion (kdesvn)
X-KDE-Submenu[ca]=Subversion (kdesvn)
X-KDE-Submenu[it]=Subversion (kdesvn)
X-KDE-Submenu[pt]=Subversion (kdesvn)
X-KDE-Submenu[pt_BR]=Subversion (kdesvn)
X-KDE-Submenu[sk]=Subversion (kdesvn)
X-KDE-Submenu[sv]=Subversion (KDESvn)
X-KDE-Submenu[uk]=Subversion (kdesvn)
X-KDE-Submenu[x-test]=xxSubversion (kdesvn)xx
X-KDE-GetActionMenu=org.kde.kded /modules/kdesvnd org.kde.kdesvnd getActionMenu
Actions=Log;Info;Add;Addnew;Delete;Revert;Rename;Import;Checkout;Switch;Merge;Blame;CreatePatch;Export;Diff;Update;Commit;Checkoutto;Exportto;Tree;

[Desktop Action Log]
Name=Subversion log (last 100)
Name[ca]=Registre de Subversion (últims 100)
Name[pt]=Histórico do Subversion (últimos 100)
Name[pt_BR]=Log do Subversion (últimos 100)
Name[sk]=Záznam Subversion (posledných 100)
Name[sv]=Subversion-logg (senaste 100)
Name[uk]=Журнал Subversion (останні 100 записів)
Name[x-test]=xxSubversion log (last 100)xx
Icon=kdesvnlog
Exec=kdesvn exec -r HEAD:1 -l 100 log %U
Comment=Displays the Subversion log
Comment[ca]=Mostra el registre de Subversion
Comment[it]=Visualizza il log di Subversion
Comment[pt]=Mostra o registo histórico do Subversion
Comment[pt_BR]=Mostra o registro (log) do Subversion
Comment[sk]=Zobrazí záznam Subversion
Comment[sv]=Visar Subversion-loggen
Comment[uk]=Показує журнал Subversion
Comment[x-test]=xxDisplays the Subversion logxx

[Desktop Action Info]
Name=Detailed Subversion info
Name[ca]=Informació detallada de Subversion
Name[nl]=Gedetailleerde informatie over subversion
Name[pt]=Informação detalhada do Subversion
Name[pt_BR]=Informações detalhadas do Subversion
Name[sk]=Podrobné informácie Subversion
Name[sv]=Detaljerad Subversion-information
Name[uk]=Докладна інформація Subversion
Name[x-test]=xxDetailed Subversion infoxx
Icon=kdesvninfo
Exec=kdesvn exec info %U

[Desktop Action Add]
Name=Add to Repository
Name[ca]=Afegeix al repositori
Name[it]=Aggiungi al deposito
Name[nl]=Toevoegen aan repository
Name[pt]=Adicionar ao Repositório
Name[pt_BR]=Adicionar ao repositório
Name[sk]=Pridať do repozitára
Name[sv]=Lägg till i arkiv
Name[uk]=Додати до сховища
Name[x-test]=xxAdd to Repositoryxx
Icon=kdesvnadd
Exec=kdesvn exec add %U

[Desktop Action Addnew]
Name=Check for unversioned items
Name[ca]=Comprova per elements sense versió
Name[it]=Controlla gli elementi senza versione
Name[pt]=Procurar por itens não-adicionados
Name[pt_BR]=Procurar por itens não adicionados
Name[sk]=Skontrolovať neverzionované položky
Name[sv]=Kontrollera objekt utan version
Name[uk]=Знайти елементи поза системою керування версіями
Name[x-test]=xxCheck for unversioned itemsxx
Icon=kdesvnaddrecursive
Exec=kdesvn exec addnew %U

[Desktop Action Delete]
Name=Delete From Repository
Name[ca]=Elimina del repositori
Name[it]=Elimina dal deposito
Name[nl]=Verwijderen uit repository
Name[pt]=Remover do Repositório
Name[pt_BR]=Excluir do repositório
Name[sk]=Odstrániť z archívu
Name[sv]=Ta bort från arkiv
Name[uk]=Вилучити зі сховища
Name[x-test]=xxDelete From Repositoryxx
Icon=kdesvndelete
Exec=kdesvn exec rm %U

[Desktop Action Revert]
Name=Revert Local Changes
Name[ca]=Reverteix els canvis locals
Name[nl]=Lokale wijzigingen ongedaan maken
Name[pt]=Reverter as Modificações Locais
Name[pt_BR]=Reverter alterações locais
Name[sk]=Vrátiť lokálne zmeny
Name[sv]=Återställ lokal ändring
Name[uk]=Повернути локальні зміни
Name[x-test]=xxRevert Local Changesxx
Icon=kdesvnreverse
Exec=kdesvn exec revert %U
Comment=Remove any changes made locally. Warning - this cannot be undone.
Comment[ca]=Elimina qualsevol canvi local. Avís: No es pot desfer.
Comment[nl]=Lokale wijzigingen ongedaan maken. Let op: dit kan niet teruggedraaid worden.
Comment[pt]=Remover as alterações que tenham sido feitas a nível local. Atenção - isto não pode ser anulado.
Comment[pt_BR]=Remove as alterações feitas localmente. Atenção - isto não pode ser anulado.
Comment[sk]=Odstráni lokálne zmeny. Upozornenie - toto sa nedá už vrátiť.
Comment[sv]=Tar bort alla ändringar som gjorts lokalt. Varning: detta kan inte ångras.
Comment[uk]=Вилучити всі зміни, які було зроблено локально. Попередження: зміни буде вилучено назавжди.
Comment[x-test]=xxRemove any changes made locally. Warning - this cannot be undone.xx

[Desktop Action Rename]
Name=Rename...
Name[ca]=Reanomena...
Name[it]=Rinomina...
Name[nl]=Hernoemen...
Name[pt]=Mudar o Nome...
Name[pt_BR]=Renomear...
Name[sk]=Premenovať...
Name[sv]=Byt namn...
Name[uk]=Перейменувати…
Name[x-test]=xxRename...xx
Icon=kdesvnmove
Exec=kdesvn exec mv %U
Comment=Rename a file locally and in the repository.  Use this rather than adding and deleting to rename a file.
Comment[ca]=Reanomena un fitxer localment i en el repositori. Use-ho en comptes d'afegir i eliminar per a reanomenar un fitxer.
Comment[nl]=Hernoem een bestand lokaal en in de repository. Gebruik dit bij voorkeur boven het verwijderen van een bestand en het toevoegen onder een andere naam.
Comment[pt]=Muda o nome de um ficheiro a nível local e no repositório. Use isto em vez de adicionar e remover o ficheiro para mudar o nome.
Comment[pt_BR]=Renomeia um arquivo em nível local e no repositório. Use isto em vez de adicionar e remover o arquivo para mudar o nome.
Comment[sk]=Premenuje súbor lokálne aj v archíve. Použite radšej toto ako pridanie a odstránenie súboru.
Comment[sv]=Byt namn på en fil lokalt och i arkivet. Använd detta istället för att lägga till och ta bort för att byta namn på en fil.
Comment[uk]=Перейменувати файл локально і в сховищі. Використовуйте замість додавання і вилучення файла, щоб його перейменувати.
Comment[x-test]=xxRename a file locally and in the repository.  Use this rather than adding and deleting to rename a file.xx

[Desktop Action Import]
Name=Import Repository
Name[ca]=Importa un repositori
Name[it]=Importa deposito
Name[nl]=Repository importeren
Name[pt]=Importar um Repositório
Name[pt_BR]=Importar repositório
Name[sk]=Importovať archív
Name[sv]=Importera arkiv
Name[uk]=Імпортувати сховище
Name[x-test]=xxImport Repositoryxx
Icon=svn_import
Exec=kio_svn_helper -i %U
Comment=Put folder into an existing repository to put it under revision control.
Comment[ca]=Situa la carpeta en un repositori existent per a posar-la sota el control de revisions.
Comment[nl]=Plaats een map in een bestaande repository zodat het onder het versiebeheer system valt.
Comment[pt]=Coloca a pasta num repositório existente para a colocar sob controlo de versões.
Comment[pt_BR]=Coloca a pasta em um repositório existente para colocá-la sob controle de versão.
Comment[sk]=Vloží priečinok do existujúceho archívu ako novú revíziu.
Comment[sv]=Lägg till katalog i ett befintligt arkiv för att få den under versionskontroll
Comment[uk]=Вставити теку до наявного сховища, щоб уможливити для неї керування версіями.
Comment[x-test]=xxPut folder into an existing repository to put it under revision control.xx

[Desktop Action Checkout]
Name=Checkout From Repository...
Name[ca]=Obtén del repositori...
Name[nl]=Repository uitchecken...
Name[pt]=Obter do Repositório...
Name[pt_BR]=Obter do repositório...
Name[sk]=Získať z archívu...
Name[sv]=Checka ut från ett arkiv...
Name[uk]=Взяти зі сховища…
Name[x-test]=xxCheckout From Repository...xx
Icon=kdesvncheckout
Exec=kdesvn exec checkout %U
Comment=Checkout out files from an existing repository into this folder.
Comment[ca]=Recupera fitxers des d'un repositori existent cap aquesta carpeta.
Comment[nl]=Bestanden van een bestaande repository uitchecken in deze map.
Comment[pt]=Obtém todos os ficheiros de um repositório existente para esta pasta.
Comment[pt_BR]=Obtém todos os arquivos de um repositório existente para esta pasta.
Comment[sk]=Získa súbory z existujúceho archívu do tohoto priečinku.
Comment[sv]=Checka ut filer från ett befintligt arkiv till katalogen.
Comment[uk]=Взяти файли з наявного сховища і покласти до цієї теки.
Comment[x-test]=xxCheckout out files from an existing repository into this folder.xx

[Desktop Action Switch]
Name=Switch...
Name[ca]=Canvia...
Name[nl]=Omzetten (switch)...
Name[pt]=Mudar...
Name[pt_BR]=Mudar...
Name[sk]=Vymeniť...
Name[sv]=Byt...
Name[uk]=Перемкнути…
Name[x-test]=xxSwitch...xx
Icon=kdesvnswitch
Comment=Switch given working copy to another branch
Comment[ca]=Canvia una còpia de treball indicada a una altra branca
Comment[nl]=Opgegeven werkkopie wisselen naar andere branch
Comment[pt]=Muda a cópia de trabalho actual para outra ramificação
Comment[pt_BR]=Mudar a cópia de trabalho para outra ramificação
Comment[sk]=Vymení danú pracovnú kópiu zo inú vetvu
Comment[sv]=Byt angiven arbetskopia till en annan gren
Comment[uk]=Перемкнути поточну робочу копію на іншу гілку
Comment[x-test]=xxSwitch given working copy to another branchxx
Exec=kdesvn exec switch %U

[Desktop Action Merge]
Name=Merge...
Name[ca]=Fusiona...
Name[nl]=Samenvoegen...
Name[pt]=Reunir...
Name[pt_BR]=Mesclar...
Name[sk]=Spojiť...
Name[sv]=Sammanfoga...
Name[uk]=Об’єднати…
Name[x-test]=xxMerge...xx
Icon=kdesvnmerge
Comment=Merge changes between this and another branch
Comment[ca]=Fusiona els canvis entre aquesta i una altra branca
Comment[nl]=Deze en een andere tak samenvoegen
Comment[pt]=Junta as modificações entre esta ramificação e outra
Comment[pt_BR]=Mescla as modificações entre esta ramificação e outra
Comment[sk]=Spojí zmeny medzi touto a inou vetvou
Comment[sv]=Sammanfoga ändringar mellan den här och en annan gren
Comment[uk]=Об’єднати зміни в цій та іншій гілках
Comment[x-test]=xxMerge changes between this and another branchxx
Exec=kio_svn_helper -m %U

[Desktop Action Blame]
Name=Blame...
Name[ca]=Responsable...
Name[nl]=Annotatie...
Name[pt]=Culpar...
Name[pt_BR]=Culpar...
Name[sk]=Žalovať...
Name[sv]=Klandra...
Name[uk]=Визначити автора…
Name[x-test]=xxBlame...xx
Icon=kdesvnblame
Comment=See who wrote each line of the file and in what revision
Comment[ca]=Veu qui va escriure cada línia del fitxer i en quina revisió
Comment[nl]=Bekijk wie welke regel van het bestand geschreven heeft en in welke revisie
Comment[pt]=Vê quem escreveu uma dada linha no ficheiro e em que versão
Comment[pt_BR]=Mostra quem escreveu cada linha do arquivo e em qual versão
Comment[sk]=Pozrite sa, kto a v ktorej revízii napísal každý riadok súboru
Comment[sv]=Se vem som skrev varje rad i filen och för vilken version
Comment[uk]=Подивитись, хто написав кожний рядок файла і в якій модифікації
Comment[x-test]=xxSee who wrote each line of the file and in what revisionxx
Exec=kdesvn exec blame %U

[Desktop Action CreatePatch]
Name=Create Patch...
Name[ca]=Crea un pedaç...
Name[nl]=Patch aanmaken...
Name[pt]=Criar um 'Patch'...
Name[pt_BR]=Criar um 'patch'...
Name[sk]=Vytvoriť záplatu...
Name[sv]=Skapa programfix...
Name[uk]=Створити латку…
Name[x-test]=xxCreate Patch...xx
Exec=kio_svn_helper -p %U

[Desktop Action Export]
Name=Export...
Name[ca]=Exporta...
Name[it]=Esporta...
Name[nl]=Exporteren...
Name[pt]=Exportar...
Name[pt_BR]=Exportar...
Name[sk]=Exportovať...
Name[sv]=Exportera...
Name[uk]=Експортувати…
Name[x-test]=xxExport...xx
Icon=kdesvnexport
Exec=kdesvn exec export %U
Comment=Checkout out an unversioned copy of a tree from a repository
Comment[ca]=Exporta una còpia sense versió d'un arbre des del repositori
Comment[nl]=Een niet onder versiebeheer vallende kopie uitchecken van een tak uit de repository
Comment[pt]=Obtém uma cópia sem controlo de versões de uma árvore do repositório
Comment[pt_BR]=Obtém uma cópia sem controle de versão de uma árvore do repositório
Comment[sk]=Získa neverzionovanú kópiu stromu z archívu
Comment[sv]=Checka ut en kopia utan versionskontroll från ett arkiv
Comment[uk]=Взяти зі сховища копію дерева без версій
Comment[x-test]=xxCheckout out an unversioned copy of a tree from a repositoryxx

[Desktop Action Diff]
Name=Diff (local)
Name[ca]=Diff (local)
Name[nl]=Diff (lokaal)
Name[pt]=Diferenças (local)
Name[pt_BR]=Diferenças (local)
Name[sk]=Rozdiel (lokálne)
Name[sv]=Jämför (lokalt)
Name[uk]=Розбіжності (локальні)
Name[x-test]=xxDiff (local)xx
Icon=kdesvndiff
Exec=kdesvn exec diff %U
Comment=Show local changes since last update
Comment[ca]=Mostra els canvis locals des de l'última actualització
Comment[nl]=Lokale wijzigingen sinds de laatste update tonen
Comment[pt]=Mostra as modificações locais desde a última actualização
Comment[pt_BR]=Mostra as alterações locais desde a última atualização
Comment[sk]=Zobrazí lokálne zmeny od poslednej aktualizácie
Comment[sv]=Visa lokala ändringar sedan senaste uppdateringen
Comment[uk]=Показати локальні зміни з часу останнього оновлення
Comment[x-test]=xxShow local changes since last updatexx

[Desktop Action Update]
Name=KDESvn Update
Name[ca]=KDESvn Actualitza
Name[pt]=KDESvn Actualizar
Name[pt_BR]=KDESvn Atualizar
Name[sk]=KDESvn aktualizácia
Name[sv]=KDESvn uppdatera
Name[uk]=Оновлення KDESvn
Name[x-test]=xxKDESvn Updatexx
Icon=kdesvnupdate
Exec=kdesvn exec update %U

[Desktop Action Commit]
Name=KDESvn Commit
Name[ca]=KDESvn Publica
Name[pt]=KDESvn Enviar
Name[pt_BR]=KDESvn Commit
Name[sk]=KDESvn potvrdenie
Name[sv]=KDESvn arkivera
Name[uk]=Надсилання KDESvn
Name[x-test]=xxKDESvn Commitxx
Icon=kdesvncommit
Exec=kdesvn exec commit %U

[Desktop Action Checkoutto]
Name=Checkout from a repository...
Name[ca]=Obtén des d'un repositori...
Name[pt]=Obter de um repositório...
Name[pt_BR]=Obter de um repositório...
Name[sk]=Checkout z repozitára...
Name[sv]=Checka ut från ett arkiv...
Name[uk]=Взяти зі сховища…
Name[x-test]=xxCheckout from a repository...xx
Icon=kdesvncheckout
Exec=kdesvn exec checkoutto %U
Comment=Checkout out files from an existing repository into this folder.
Comment[ca]=Recupera fitxers des d'un repositori existent cap aquesta carpeta.
Comment[nl]=Bestanden van een bestaande repository uitchecken in deze map.
Comment[pt]=Obtém todos os ficheiros de um repositório existente para esta pasta.
Comment[pt_BR]=Obtém todos os arquivos de um repositório existente para esta pasta.
Comment[sk]=Získa súbory z existujúceho archívu do tohoto priečinku.
Comment[sv]=Checka ut filer från ett befintligt arkiv till katalogen.
Comment[uk]=Взяти файли з наявного сховища і покласти до цієї теки.
Comment[x-test]=xxCheckout out files from an existing repository into this folder.xx

[Desktop Action Exportto]
Name=Export from a Subversion repository...
Name[ca]=Exporta des d'un repositori de Subversion...
Name[pt]=Exportar de um repositório de Subversion...
Name[pt_BR]=Exportar de um repositório de Subversion...
Name[sk]=Export zo Subversion repozitára...
Name[sv]=Exportera från ett Subversion-arkiv...
Name[uk]=Експортувати зі сховища Subversion…
Name[x-test]=xxExport from a Subversion repository...xx
Icon=kdesvnexport
Exec=kdesvn exec exportto %U
Comment=Checkout out an unversioned copy of a tree from a repository
Comment[ca]=Exporta una còpia sense versió d'un arbre des del repositori
Comment[nl]=Een niet onder versiebeheer vallende kopie uitchecken van een tak uit de repository
Comment[pt]=Obtém uma cópia sem controlo de versões de uma árvore do repositório
Comment[pt_BR]=Obtém uma cópia sem controle de versão de uma árvore do repositório
Comment[sk]=Získa neverzionovanú kópiu stromu z archívu
Comment[sv]=Checka ut en kopia utan versionskontroll från ett arkiv
Comment[uk]=Взяти зі сховища копію дерева без версій
Comment[x-test]=xxCheckout out an unversioned copy of a tree from a repositoryxx

[Desktop Action Tree]
Name=Display revision tree
Name[ca]=Mostra l'arbre de revisions
Name[pt]=Mostrar a árvore de versões
Name[pt_BR]=Mostrar a árvore de revisões
Name[sk]=Zobraziť strom revízií
Name[sv]=Visa versionsträd
Name[uk]=Показати дерево модифікацій
Name[x-test]=xxDisplay revision treexx
Icon=kdesvnlog
Exec=kdesvn exec tree %U
Comment=Show complete revision tree
Comment[ca]=Mostra l'arbre de revisions complet
Comment[it]=Mostra l'albero completo delle revisioni
Comment[pt]=Mostrar a árvore de versões completa
Comment[pt_BR]=Mostra a árvore de revisões completa
Comment[sk]=Zobraziť úplný strom revízií
Comment[sv]=Visa fullständigt versionsträd
Comment[uk]=Показати повне дерево модифікацій
Comment[x-test]=xxShow complete revision treexx
