[Desktop Entry]
Type=Service
Name=kdesvnd
Exec=kdesvnd
X-DCOP-ServiceType=Unique
X-KDE-StartupNotify=false
Comment=Kdesvn DCOP server
Comment[de]=Kdesvn DCOP server
