[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,inode/directory,all/all,all/allfiles
X-KDE-Priority=TopLevel

X-KDE-GetActionMenu=org.kde.kded /modules/kdesvnd org.kde.kdesvnd getTopLevelActionMenu
Actions=Checkout;Export;Update;Commit;Log;Exportto;Checkoutto;

[Desktop Action Log]
Name=kdesvn log (last 100)
Icon=kdesvnlog
Exec=kdesvn exec -r HEAD:1 -l 100 log %U
Comment=Displays the subversion log

[Desktop Action Checkout]
Name=Checkout From Repository...
Icon=kdesvncheckout
Exec=kdesvn exec checkout %U
Comment=Checkout out files from an existing repository into this folder.

[Desktop Action Export]
Name=Export...
Icon=kdesvnexport
Exec=kdesvn exec export %U
Comment=Checkout out an unversioned copy of a tree from a repository

[Desktop Action Update]
Name=Update (Kdesvn)
Icon=kdesvnupdate
Exec=kdesvn exec update %U

[Desktop Action Commit]
Name=Commit (Kdesvn)
Icon=kdesvncommit
Exec=kdesvn exec commit %U

[Desktop Action Checkoutto]
Name=Checkout from a repository...
Icon=kdesvncheckout
Exec=kdesvn exec checkoutto %U
Comment=Checkout out files from an existing repository into this folder.

[Desktop Action Exportto]
Name=Export from a subversion repository...
Icon=kdesvnexport
Exec=kdesvn exec exportto %U
Comment=Checkout out an unversioned copy of a tree from a repository
