[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,inode/directory,all/all,all/allfiles
X-KDE-Submenu=Subversion (kdesvn)

X-KDE-GetActionMenu=org.kde.kded /modules/kdesvnd org.kde.kdesvnd getActionMenu
Actions=Log;Info;Add;Addnew;Delete;Revert;Rename;Import;Checkout;Switch;Merge;Blame;CreatePatch;Export;Diff;Update;Commit;Checkoutto;Exportto;Tree;

[Desktop Action Log]
Name=Subversion log (last 100)
Icon=kdesvnlog
Exec=kdesvn exec -r HEAD:1 -l 100 log %U
Comment=Displays the subversion log

[Desktop Action Info]
Name=Detailed subversion info
Icon=kdesvninfo
Exec=kdesvn exec info %U

[Desktop Action Add]
Name=Add to Repository
Icon=kdesvnadd
Exec=kdesvn exec add %U

[Desktop Action Addnew]
Name=Check for unversioned items
Icon=kdesvnaddrecursive
Exec=kdesvn exec addnew %U

[Desktop Action Delete]
Name=Delete From Repository
Icon=kdesvndelete
Exec=kdesvn exec rm %U

[Desktop Action Revert]
Name=Revert Local Changes
Icon=kdesvnreverse
Exec=kdesvn exec revert %U
Comment=Remove any changes made locally. Warning - this cannot be undone.

[Desktop Action Rename]
Name=Rename...
Icon=kdesvnmove
Exec=kdesvn exec mv %U
Comment=Rename a file locally and in the repository.  Use this rather than adding and deleting to rename a file.

[Desktop Action Import]
Name=Import Repository
Icon=svn_import
Exec=kio_svn_helper -i %U
Comment=Put folder into an existing repository to put it under revision control.

[Desktop Action Checkout]
Name=Checkout From Repository...
Icon=kdesvncheckout
Exec=kdesvn exec checkout %U
Comment=Checkout out files from an existing repository into this folder.

[Desktop Action Switch]
Name=Switch...
Icon=kdesvnswitch
Comment=Switch given working copy to another branch
Exec=kdesvn exec switch %U

[Desktop Action Merge]
Name=Merge...
Icon=kdesvnmerge
Comment=Merge changes between this and another branch
Exec=kio_svn_helper -m %U

[Desktop Action Blame]
Name=Blame...
Icon=kdesvnblame
Comment=See who wrote each line of the file and in what revision
Exec=kdesvn exec blame %U

[Desktop Action CreatePatch]
Name=Create Patch...
Exec=kio_svn_helper -p %U

[Desktop Action Export]
Name=Export...
Icon=kdesvnexport
Exec=kdesvn exec export %U
Comment=Checkout out an unversioned copy of a tree from a repository

[Desktop Action Diff]
Name=Diff (local)
Icon=kdesvndiff
Exec=kdesvn exec diff %U
Comment=Show local changes since last update

[Desktop Action Update]
Name=KDESvn Update
Icon=kdesvnupdate
Exec=kdesvn exec update %U

[Desktop Action Commit]
Name=KDESvn Commit
Icon=kdesvncommit
Exec=kdesvn exec commit %U

[Desktop Action Checkoutto]
Name=Checkout from a repository...
Icon=kdesvncheckout
Exec=kdesvn exec checkoutto %U
Comment=Checkout out files from an existing repository into this folder.

[Desktop Action Exportto]
Name=Export from a subversion repository...
Icon=kdesvnexport
Exec=kdesvn exec exportto %U
Comment=Checkout out an unversioned copy of a tree from a repository

[Desktop Action Tree]
Name=Display revision tree
Icon=kdesvnlog
Exec=kdesvn exec tree %U
Comment=Show complete revision tree
