[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,inode/directory,all/all,all/allfiles
X-KDE-Priority=TopLevel
X-KDE-GetActionMenu=org.kde.kded /modules/kdesvnd org.kde.kdesvnd getTopLevelActionMenu
Actions=Checkout;Export;Update;Commit;Log;Exportto;Checkoutto;

[Desktop Action Log]
Name=kdesvn log (last 100)
Name[bs]=kdesvn dnevnik (zadnjih 100)
Name[ca]=Registre del kdesvn (últims 100)
Name[fr]=journal de kdesvn (les 100 dernières lignes)
Name[pt]=histórico do kdesvn (últimos 100)
Name[pt_BR]=kdesvn log (últimos 100)
Name[sk]=kdesvn záznam (posledných 100)
Name[sv]=KDESvn-logg (senaste 100)
Name[uk]=Журнал kdesvn (останні 100 записів)
Name[x-test]=xxkdesvn log (last 100)xx
Icon=kdesvnlog
Exec=kdesvn exec -r HEAD:1 -l 100 log %U
Comment=Displays the Subversion log
Comment[ca]=Mostra el registre de Subversion
Comment[fr]=Affiche le journal de Subversion
Comment[hu]=Megjeleníti a Subversion naplót
Comment[it]=Visualizza il log di Subversion
Comment[pt]=Mostra o registo histórico do Subversion
Comment[pt_BR]=Mostra o registro (log) do Subversion
Comment[sk]=Zobrazí záznam Subversion
Comment[sv]=Visar Subversion-loggen
Comment[uk]=Показує журнал Subversion
Comment[x-test]=xxDisplays the Subversion logxx

[Desktop Action Checkout]
Name=Checkout From Repository...
Name[bs]=Izdvoji iz spremišta...
Name[ca]=Obtén del repositori...
Name[fr]=Extraire du dépôt...
Name[nl]=Repository uitchecken...
Name[pt]=Obter do Repositório...
Name[pt_BR]=Obter do repositório...
Name[sk]=Získať z archívu...
Name[sv]=Checka ut från ett arkiv...
Name[uk]=Взяти зі сховища…
Name[x-test]=xxCheckout From Repository...xx
Icon=kdesvncheckout
Exec=kdesvn exec checkout %U
Comment=Checkout out files from an existing repository into this folder.
Comment[bs]=Izdvoji izlazne datoteke sa postojećeg spremišta u ovaj direktorij.
Comment[ca]=Recupera fitxers des d'un repositori existent cap aquesta carpeta.
Comment[fr]=Extrait des fichiers d'un dépôt existant dans ce dossier.
Comment[nl]=Bestanden van een bestaande repository uitchecken in deze map.
Comment[pt]=Obtém todos os ficheiros de um repositório existente para esta pasta.
Comment[pt_BR]=Obtém todos os arquivos de um repositório existente para esta pasta.
Comment[sk]=Získa súbory z existujúceho archívu do tohoto priečinku.
Comment[sv]=Checka ut filer från ett befintligt arkiv till katalogen.
Comment[uk]=Взяти файли з наявного сховища і покласти до цієї теки.
Comment[x-test]=xxCheckout out files from an existing repository into this folder.xx

[Desktop Action Export]
Name=Export...
Name[bs]=Export...
Name[ca]=Exporta...
Name[fr]=Exporter...
Name[it]=Esporta...
Name[nl]=Exporteren...
Name[pt]=Exportar...
Name[pt_BR]=Exportar...
Name[sk]=Exportovať...
Name[sv]=Exportera...
Name[uk]=Експортувати…
Name[x-test]=xxExport...xx
Icon=kdesvnexport
Exec=kdesvn exec export %U
Comment=Checkout out an unversioned copy of a tree from a repository
Comment[bs]=Checkout out an unversioned copy of a tree from a repository
Comment[ca]=Exporta una còpia sense versió d'un arbre des del repositori
Comment[fr]=Extraire d'un dépôt une copie non versionnée d'une arborescence
Comment[nl]=Een niet onder versiebeheer vallende kopie uitchecken van een tak uit de repository
Comment[pt]=Obtém uma cópia sem controlo de versões de uma árvore do repositório
Comment[pt_BR]=Obtém uma cópia sem controle de versão de uma árvore do repositório
Comment[sk]=Získa neverzionovanú kópiu stromu z archívu
Comment[sv]=Checka ut en kopia utan versionskontroll från ett arkiv
Comment[uk]=Взяти зі сховища копію дерева без версій
Comment[x-test]=xxCheckout out an unversioned copy of a tree from a repositoryxx

[Desktop Action Update]
Name=Update (Kdesvn)
Name[ca]=Actualitza (Kdesvn)
Name[fr]=Mettre à jour (Kdesvn)
Name[pt]=Actualizar (Kdesvn)
Name[pt_BR]=Atualizar (Kdesvn)
Name[sk]=Aktualizácia (Kdesvn)
Name[sv]=Uppdatera (KDESvn)
Name[uk]=Оновити (Kdesvn)
Name[x-test]=xxUpdate (Kdesvn)xx
Icon=kdesvnupdate
Exec=kdesvn exec update %U

[Desktop Action Commit]
Name=Commit (Kdesvn)
Name[ca]=Publica (Kdesvn)
Name[fr]=Valider (Kdesvn)
Name[pt]=Enviar (Kdesvn)
Name[pt_BR]=Enviar (Kdesvn)
Name[sk]=Potvrdenie (Kdesvn)
Name[sv]=Arkivera (KDESvn)
Name[uk]=Надіслати (Kdesvn)
Name[x-test]=xxCommit (Kdesvn)xx
Icon=kdesvncommit
Exec=kdesvn exec commit %U

[Desktop Action Checkoutto]
Name=Checkout from a repository...
Name[bs]=Izdvoji iz spremišta...
Name[ca]=Obtén des d'un repositori...
Name[fr]=Extraire d'un dépôt...
Name[pt]=Obter de um repositório...
Name[pt_BR]=Obter de um repositório...
Name[sk]=Checkout z repozitára...
Name[sv]=Checka ut från ett arkiv...
Name[uk]=Взяти зі сховища…
Name[x-test]=xxCheckout from a repository...xx
Icon=kdesvncheckout
Exec=kdesvn exec checkoutto %U
Comment=Checkout out files from an existing repository into this folder.
Comment[bs]=Izdvoji izlazne datoteke sa postojećeg spremišta u ovaj direktorij.
Comment[ca]=Recupera fitxers des d'un repositori existent cap aquesta carpeta.
Comment[fr]=Extrait des fichiers d'un dépôt existant dans ce dossier.
Comment[nl]=Bestanden van een bestaande repository uitchecken in deze map.
Comment[pt]=Obtém todos os ficheiros de um repositório existente para esta pasta.
Comment[pt_BR]=Obtém todos os arquivos de um repositório existente para esta pasta.
Comment[sk]=Získa súbory z existujúceho archívu do tohoto priečinku.
Comment[sv]=Checka ut filer från ett befintligt arkiv till katalogen.
Comment[uk]=Взяти файли з наявного сховища і покласти до цієї теки.
Comment[x-test]=xxCheckout out files from an existing repository into this folder.xx

[Desktop Action Exportto]
Name=Export from a Subversion repository...
Name[bs]=Izvoz iz Subversion repozitorija
Name[ca]=Exporta des d'un repositori de Subversion...
Name[fr]=Exporter à partir d'un dépôt Subversion...
Name[pt]=Exportar de um repositório de Subversion...
Name[pt_BR]=Exportar de um repositório de Subversion...
Name[sk]=Export zo Subversion repozitára...
Name[sv]=Exportera från ett Subversion-arkiv...
Name[uk]=Експортувати зі сховища Subversion…
Name[x-test]=xxExport from a Subversion repository...xx
Icon=kdesvnexport
Exec=kdesvn exec exportto %U
Comment=Checkout out an unversioned copy of a tree from a repository
Comment[bs]=Checkout out an unversioned copy of a tree from a repository
Comment[ca]=Exporta una còpia sense versió d'un arbre des del repositori
Comment[fr]=Extraire d'un dépôt une copie non versionnée d'une arborescence
Comment[nl]=Een niet onder versiebeheer vallende kopie uitchecken van een tak uit de repository
Comment[pt]=Obtém uma cópia sem controlo de versões de uma árvore do repositório
Comment[pt_BR]=Obtém uma cópia sem controle de versão de uma árvore do repositório
Comment[sk]=Získa neverzionovanú kópiu stromu z archívu
Comment[sv]=Checka ut en kopia utan versionskontroll från ett arkiv
Comment[uk]=Взяти зі сховища копію дерева без версій
Comment[x-test]=xxCheckout out an unversioned copy of a tree from a repositoryxx
