[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=kdesvnd subversion module
ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=kdesvnd
X-KDE-FactoryName=kdesvnd
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true

