[Desktop Entry]
Type=Service
Name=kdesvnd subversion module
Name[bs]=kdesvnd  subverzija modul
Name[ca]=Mòdul de Subversion «kdesvnd»
Name[ca@valencia]=Mòdul de Subversion «kdesvnd»
Name[da]=kdesvnd subversion-modul
Name[de]=kdesvnd-Subversion-Modul
Name[en_GB]=kdesvnd subversion module
Name[es]=Módulo de Subversion kdesvnd
Name[fi]=kdesvnd-Subversion-moduuli
Name[fr]=module subversion kdevnsd
Name[gl]=Módulo de Subversion kdesvnd
Name[hu]=kdesvnd subversion modul
Name[it]=modulo subversion di kdesvnd
Name[lt]=kdesvnd poversijų modulis
Name[nl]=kdesvnd subversion module
Name[nn]=kdesvnd subversion-modul
Name[pl]=Moduł subversion kdesvnd
Name[pt]=módulo de Subversion do kdesvnd
Name[pt_BR]=Módulo subversion do kdesvnd
Name[sk]=subversion modul kdesvnd
Name[sl]=Modul kdesvnd za Subversion
Name[sv]=kdesvnd Subversion-modul
Name[uk]=Модуль subversion kdesvnd
Name[x-test]=xxkdesvnd subversion modulexx
Name[zh_CN]=kdesvnd subversion 模块
Comment=Gives various Subversion actions to file managers and other software
Comment[bs]=Daje razne Subversion akcije menadžerima datoteka i drugom softveru
Comment[ca]=Proporciona diverses accions de Subversion pel gestor de fitxers i altre programari
Comment[ca@valencia]=Proporciona diverses accions de Subversion pel gestor de fitxers i altre programari
Comment[da]=Giver diverse Subversion-handlinger til filhåndteringer og andet software
Comment[de]=Stellt für Dateiverwaltungen und anderen Programmen verschiedene Subversion-Aktionen bereit
Comment[en_GB]=Gives various Subversion actions to file managers and other software
Comment[es]=Proporciona diversas acciones de Subversion a los gestores de archivos y a otro tipo de software
Comment[fi]=Välittää Subversion-toiminnot tiedostonhallinta- ja muille ohjelmille
Comment[fr]=Permet diverses actions Subversion aux gestionnaires de fichiers et d'autres logiciels
Comment[gl]=Fornece varias accións de Subversion aos xestores de ficheiros e outros programas.
Comment[it]=Fornisce varie azioni di Subversion ai gestori di file e altri programmi
Comment[lt]=Failų tvarkytuvėms ir kitoms programoms leidžia atlikti įvairius veiksmus su poversijais
Comment[nl]=Maakt verschillende Subversion-acties mogelijk in bestandsbeheerders en andere software
Comment[nn]=Gjev ulike Subversion-handlingar til filhandsamarar og andre program.
Comment[pl]=Daje wiele działań Subversion zarządcom plików i innemu oprogramowaniu
Comment[pt]=Oferece várias acções do Subversion para o gestor de ficheiros e outras aplicações
Comment[pt_BR]=Oferece várias ações do Subversion para o gerenciador de arquivos e outros programas
Comment[sk]=Poskytuje rôzne akcie Subversion pre správcov súborov a inému softvéru
Comment[sl]=Doda dejanja Subversion v upravljalnike datotek in drugo programsko opremo
Comment[sv]=Tillhandahåller diverse åtgärder i Subversion för filhanterare och annan programvara
Comment[uk]=Обробляє команди subversion, які надходять від програми для керування файлами або іншого програмного забезпечення
Comment[x-test]=xxGives various Subversion actions to file managers and other softwarexx
Comment[zh_CN]=给文件管理器及其它软件提供各种 Subversion 操作
ServiceTypes=KDEDModule
X-KDE-DBus-ServiceName=org.kde.kdesvnd
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kdesvnd
X-KDE-DBus-ModuleName=kdesvnd
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
