[Desktop Entry]
Name=kdesvnpart
Name[bs]=kdesvnpart
Name[ca]=Part de Kdesvn
Name[fr]=kdesvnpart
Name[it]=kdesvnpart
Name[pt]=kdesvnpart
Name[pt_BR]=kdesvnpart
Name[sk]=kdesvnpart
Name[sv]=KDESvn delprogram
Name[uk]=kdesvnpart
Name[x-test]=xxkdesvnpartxx
GenericName=SVN Client
GenericName[bs]=SVN klijent
GenericName[ca]=Client de SVN
GenericName[fr]=Client SVN
GenericName[hu]=SNV kliens
GenericName[it]=Client SVN
GenericName[nl]=SVN-client
GenericName[pt]=Cliente de SVN
GenericName[pt_BR]=Cliente SVN
GenericName[sk]=SVN klient
GenericName[sv]=SVN-klient
GenericName[uk]=Клієнт SVN
GenericName[x-test]=xxSVN Clientxx
Icon=kdesvn
Type=Service
X-KDE-DocPath=kdesvn/index.html
Comment=A Subversion client for KDE
Comment[bs]=Subversion klijent za KDE
Comment[ca]=Un client de Subversion pel KDE
Comment[fr]=Un client Subversion pour KDE
Comment[hu]=Egy Subversion kliens a KDE-hez
Comment[it]=Un client di Subversion per KDE
Comment[pt]=Um cliente de Subversion para o KDE
Comment[pt_BR]=Cliente Subversion para o KDE
Comment[sk]=Subversion klient pre KDE
Comment[sv]=En Subversion-klient för KDE
Comment[uk]=Клієнт Subversion для KDE
Comment[x-test]=xxA Subversion client for KDExx
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-BrowserView-Args=DetailedList
X-KDE-Library=kdesvnpart
MimeType=inode/directory;
