[Desktop Entry]
Name=kdesvn
GenericName=SVN Client
Exec=kdesvn -caption "%c"
Icon=kdesvn
Type=Application
X-KDE-DocPath=kdesvn/index.html
Comment=A Subversion client for KDE
Terminal=false
MimeType=inode/directory;
Categories=Qt;KDE;Development;RevisionControl;
X-KDE-StartupNotify=true
