[Desktop Entry]
Name=kdesvn
Name[bs]=kdesvn
Name[ca]=kdesvn
Name[ca@valencia]=kdesvn
Name[cs]=kdesvn
Name[de]=kdesvn
Name[en_GB]=kdesvn
Name[es]=kdesvn
Name[fi]=kdesvn
Name[fr]=kdesvn
Name[gl]=kdesvn
Name[hu]=kdesvn
Name[it]=kdesvn
Name[nl]=kdesvn
Name[pl]=kdesvn
Name[pt]=kdesvn
Name[pt_BR]=kdesvn
Name[sk]=kdesvn
Name[sv]=KDESvn
Name[ug]=kdesvn
Name[uk]=kdesvn
Name[x-test]=xxkdesvnxx
GenericName=SVN Client
GenericName[ast]=Veceru SVN
GenericName[bs]=SVN klijent
GenericName[ca]=Client de SVN
GenericName[ca@valencia]=Client de SVN
GenericName[cs]=Klient SVN
GenericName[de]=SVN-Client
GenericName[en_GB]=SVN Client
GenericName[es]=Cliente SVN
GenericName[fi]=SVN-asiakas
GenericName[fr]=Client SVN
GenericName[gl]=Cliente de Subversion
GenericName[hu]=SNV kliens
GenericName[it]=Client SVN
GenericName[nl]=SVN-client
GenericName[pl]=Klient SVN
GenericName[pt]=Cliente de SVN
GenericName[pt_BR]=Cliente SVN
GenericName[sk]=SVN klient
GenericName[sv]=SVN-klient
GenericName[uk]=Клієнт SVN
GenericName[x-test]=xxSVN Clientxx
Exec=kdesvn -caption "%c"
Icon=kdesvn
Type=Application
X-DocPath=kdesvn/index.html
Comment=A Subversion client for KDE
Comment[bs]=Subversion klijent za KDE
Comment[ca]=Un client de Subversion pel KDE
Comment[ca@valencia]=Un client de Subversion pel KDE
Comment[de]=Ein Subversion-Client für KDE
Comment[en_GB]=A Subversion client for KDE
Comment[es]=Un cliente de Subversion para KDE
Comment[fi]=Subversion-asiakas KDE:lle
Comment[fr]=Un client Subversion pour KDE
Comment[gl]=Un cliente de Subversion para KDE.
Comment[hu]=Egy Subversion kliens a KDE-hez
Comment[it]=Un client di Subversion per KDE
Comment[nl]=Een subversion-client voor KDE
Comment[pl]=Klient Subversion dla KDE
Comment[pt]=Um cliente de Subversion para o KDE
Comment[pt_BR]=Cliente Subversion para o KDE
Comment[sk]=Subversion klient pre KDE
Comment[sv]=En Subversion-klient för KDE
Comment[ug]=KDE ئۈچۈن Subversion خېرىدارى
Comment[uk]=Клієнт Subversion для KDE
Comment[x-test]=xxA Subversion client for KDExx
Terminal=false
MimeType=inode/directory;
Categories=Qt;KDE;Development;RevisionControl;
X-KDE-StartupNotify=true
