[Desktop Entry]
Name=kdesvnpart
GenericName=SVN Client
Icon=kdesvn
Type=Service
X-KDE-DocPath=kdesvn/index.html
Comment=A Subversion client for KDE
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-BrowserView-Args=DetailedList
X-KDE-Library=kdesvnpart
MimeType=inode/directory;
