[Desktop Entry]
Name=kdesvn
Name[bs]=kdesvn
Name[ca]=kdesvn
Name[ca@valencia]=kdesvn
Name[cs]=kdesvn
Name[da]=kdesvn
Name[de]=kdesvn
Name[en_GB]=kdesvn
Name[es]=kdesvn
Name[fi]=kdesvn
Name[fr]=kdesvn
Name[gl]=kdesvn
Name[hu]=kdesvn
Name[it]=kdesvn
Name[lt]=kdesvn
Name[nl]=kdesvn
Name[nn]=kdesvn
Name[pl]=kdesvn
Name[pt]=kdesvn
Name[pt_BR]=kdesvn
Name[ru]=kdesvn
Name[sk]=kdesvn
Name[sl]=kdesvn
Name[sv]=KDESvn
Name[ug]=kdesvn
Name[uk]=kdesvn
Name[x-test]=xxkdesvnxx
GenericName=SVN Client
GenericName[bs]=SVN klijent
GenericName[ca]=Client de SVN
GenericName[ca@valencia]=Client de SVN
GenericName[cs]=Klient SVN
GenericName[da]=SVN-klient
GenericName[de]=SVN-Client
GenericName[en_GB]=SVN Client
GenericName[es]=Cliente SVN
GenericName[fi]=SVN-asiakas
GenericName[fr]=Client SVN
GenericName[gl]=Cliente de Subversion
GenericName[hu]=SNV kliens
GenericName[it]=Client SVN
GenericName[lt]=SVN klientas
GenericName[nl]=SVN-client
GenericName[nn]=SVN-klient
GenericName[pl]=Klient SVN
GenericName[pt]=Cliente de SVN
GenericName[pt_BR]=Cliente SVN
GenericName[ru]=Клиент SVN
GenericName[sk]=SVN klient
GenericName[sl]=Odjemalec za SVN
GenericName[sv]=SVN-klient
GenericName[uk]=Клієнт SVN
GenericName[x-test]=xxSVN Clientxx
GenericName[zh_CN]=SVN 客户端
Exec=kdesvn -qwindowtitle "%c" %u
Icon=kdesvn
Type=Application
X-DocPath=kdesvn/index.html
Comment=A Subversion client by KDE
Comment[ca]=Un client de Subversion, creat per la comunitat KDE
Comment[ca@valencia]=Un client de Subversion, creat per la comunitat KDE
Comment[cs]=Subversion klient od KDE
Comment[da]=En Subversion-klient af KDE
Comment[de]=Ein Subversion-Client von KDE
Comment[en_GB]=A Subversion client by KDE
Comment[es]=Un cliente de Subversion creado por KDE
Comment[gl]=Un cliente de Subversion fornecido por KDE.
Comment[it]=Un client di Subversion di KDE
Comment[nl]=Een subversion-client door KDE
Comment[pl]=Klient Subversion w ramach KDE
Comment[pt]=Um cliente de Subversion do KDE
Comment[ru]=Клиент Subversion от KDE
Comment[sk]=Subversion klient pre KDE
Comment[sl]=Odjemalec Subversion s strani KDE
Comment[sv]=En Subversion-klient av KDE
Comment[uk]=Клієнт Subversion від KDE
Comment[x-test]=xxA Subversion client by KDExx
Comment[zh_CN]=KDE 的一个 Subversion 客户端
Terminal=false
MimeType=inode/directory;
Categories=Qt;KDE;Development;RevisionControl;
X-KDE-StartupNotify=true
