[Desktop Entry]
Name=kdesvn
Name[bs]=kdesvn
Name[ca]=kdesvn
Name[ca@valencia]=kdesvn
Name[cs]=kdesvn
Name[da]=kdesvn
Name[de]=kdesvn
Name[en_GB]=kdesvn
Name[es]=kdesvn
Name[et]=kdesvn
Name[eu]=kdesvn
Name[fi]=kdesvn
Name[fr]=kdesvn
Name[gl]=kdesvn
Name[hu]=kdesvn
Name[it]=kdesvn
Name[ko]=kdesvn
Name[lt]=kdesvn
Name[nl]=kdesvn
Name[nn]=kdesvn
Name[pl]=kdesvn
Name[pt]=kdesvn
Name[pt_BR]=kdesvn
Name[ru]=kdesvn
Name[sk]=kdesvn
Name[sl]=kdesvn
Name[sv]=KDESvn
Name[ug]=kdesvn
Name[uk]=kdesvn
Name[x-test]=xxkdesvnxx
GenericName=Subversion Revision Control
GenericName[ca]=Control de revisió del Subversion
GenericName[ca@valencia]=Control de revisió del Subversion
GenericName[cs]=Kontrola revizí Subversion
GenericName[de]=Subversion-Revisionsverwaltung
GenericName[en_GB]=Subversion Revision Control
GenericName[es]=Control de revisiones de Subversion
GenericName[et]=Subversioni versioonihaldus
GenericName[eu]=Subversion berrikuspen kontrola
GenericName[fr]=Gestion de versions Subversion
GenericName[gl]=Control de revisións de Subversion
GenericName[it]=Controllo di revisione Subversion
GenericName[ko]=Subversion 리비전 관리
GenericName[nl]=Besturing van revisies met Subversion
GenericName[nn]=Subversion versjonskontroll
GenericName[pl]=Zarządzanie wersjami Subversion
GenericName[pt]=Controlo de Versões Subversion
GenericName[pt_BR]=Controle de revisões Subversion
GenericName[sk]=Ovládanie revízií Subversion
GenericName[sv]=Subversion versionskontroll
GenericName[uk]=Керування версіями Subversion
GenericName[x-test]=xxSubversion Revision Controlxx
Exec=kdesvn -qwindowtitle "%c" %u
Icon=kdesvn
Type=Application
X-DocPath=kdesvn/index.html
Comment=A Subversion client by KDE
Comment[ca]=Un client de Subversion, creat per la comunitat KDE
Comment[ca@valencia]=Un client de Subversion, creat per la comunitat KDE
Comment[cs]=Subversion klient od KDE
Comment[da]=En Subversion-klient af KDE
Comment[de]=Ein Subversion-Client von KDE
Comment[en_GB]=A Subversion client by KDE
Comment[es]=Un cliente de Subversion creado por KDE
Comment[et]=KDE Subversioni klient
Comment[eu]=KDEk eginiko Subversion bezero bat
Comment[fr]=Un client Subversion par KDE
Comment[gl]=Un cliente de Subversion fornecido por KDE.
Comment[it]=Un client di Subversion di KDE
Comment[ko]=KDE의 Subversion 클라이언트
Comment[nl]=Een subversion-client door KDE
Comment[nn]=Subversion-klient frå KDE
Comment[pl]=Klient Subversion w ramach KDE
Comment[pt]=Um cliente de Subversion do KDE
Comment[pt_BR]=Um cliente Subversion do KDE
Comment[ru]=Клиент Subversion от KDE
Comment[sk]=Subversion klient pre KDE
Comment[sl]=Odjemalec Subversion s strani KDE
Comment[sv]=En Subversion-klient av KDE
Comment[uk]=Клієнт Subversion від KDE
Comment[x-test]=xxA Subversion client by KDExx
Comment[zh_CN]=KDE 的一个 Subversion 客户端
Terminal=false
MimeType=inode/directory;
Categories=Qt;KDE;Development;RevisionControl;
X-KDE-StartupNotify=true
